
<h1>Post Index</h1>
  <div class="new-post"><a href="#/posts/new">Create New Post</a></div>
  <br>
  <ul>
    <% posts.each(function(post) { %>
      <li>
        <a href = "#/posts/<%= post.get("id") %>"><%= post.get("title") %></a>
      </li>
      <br>
    <% }); %>
  </ul>

